.tanker {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .tanker {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .tanker {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .tanker {
    width: 1480px;
  }
}

body{
  background-color:#000 ;
  color: #fff;
}
